#!/bin/sh
exec tail -n +3 $0

menuentry "Unlim8ted OS" {
    insmod gzio
    insmod part_gpt
    insmod ext2
    linux /boot/vmlinuz-unlim8ted root=UUID=REPLACE_ME ro quiet splash
    initrd /boot/initramfs-unlim8ted.img
}
